:root {
  --backgroundColor: rgb(0, 48, 73);
  --HeaderColor: rgb(24, 23, 23);
}

body {
  color: var(--backgroundColor);
  font-family: "Ubuntu", sans-serif;
}

p {
  color: white;
  width: clamp(45ch, 50%, 75ch);
  font-family: "Ubuntu", sans-serif;
}
