:root {
  --backgroundColor: rgb(0, 48, 73);
}

body {
  background-color: var(--backgroundColor);
  font-family: "Ubuntu", sans-serif;
}

p {
  color: white;
  width: clamp(45ch, 50%, 75ch);
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: rgb(247, 127, 0);
  border: none;
  width: 90px;
  outline: none;
  font-size: 25px;
}
