:root {
  --backgroundColor: rgb(0, 48, 73);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  font-family: "Ubuntu", sans-serif;
}

p {
  color: white;
  width: clamp(45ch, 50%, 75ch);
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: rgb(247, 127, 0);
  border: none;
  outline: none;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 15px;
}
